/* Fonts */
@font-face {
    font-family: 'opensans-regular';
    src: url('fonts/opensans/OpenSans-Regular-webfont.eot');
    src: url('fonts/opensans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/opensans/OpenSans-Regular-webfont.woff') format('woff'),
    url('fonts/opensans/OpenSans-Regular-webfont.ttf') format('truetype'),
    url('fonts/opensans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-bold';
    src: url('fonts/opensans/OpenSans-Bold-webfont.eot');
    src: url('fonts/opensans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/opensans/OpenSans-Bold-webfont.woff') format('woff'),
    url('fonts/opensans/OpenSans-Bold-webfont.ttf') format('truetype'),
    url('fonts/opensans/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Animations */
@keyframes spin {
    100% {
        transform: rotate(1turn) translate(var(--r));
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes testover {
    100% {
        transform: translatex(100vw);
    }
}

@keyframes testup {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(var(--r));
    }
}

/* Text */
.big-header {
    margin: 0 0 -0.3em;
    padding: 0;
    font-size: 5em;
}

.text-gradient {
    background: linear-gradient(120deg, #7801aa, #ff1cd2);
    background: -webkit-linear-gradient(120deg, #7801aa, #ff1cd2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Preloader */
.preloader {
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    background-color: #d16aff;
    opacity: 1;
}

.preloader-logo {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}

/* Hero */
.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: -1;
    overflow: clip;
    background: linear-gradient(#000000, 70%, #7801aa);
    font-family: "opensans-bold", sans-serif;
}

.hero-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    color: white;
}

.star {
    display: block;
    color: #ffffff;
    background-color: #ffffff;
    height: var(--s);
    width: var(--s);
    margin-top: 2px;
    text-align: center;
    border-radius: 5px;
    animation: testup var(--t) var(--d,0s) ease-out infinite, testover var(--t) var(--d,0s) linear infinite;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2em;
}

.hero-hills {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 30vh;
}

.hero-hills svg {
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 50%;
    transform: translatex(-50%);
}

.hill-two {
    opacity: 0.60;
}

.hill-three {
    opacity: 0.65;
}

/* About */
.about {
    height: 50vh;
    background-color: #000000;
}